p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;              /* "overflow" value must be different from "visible" */

  text-overflow: ellipsis;
}

.thumbnail {
  height: 400px;
}
.thumbnail_image {
  height: 250px;
}
